<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="ConnStr" connectionString="Data Source=LUONGVIETDUNG\SQLEXPRESS;Initial Catalog=INSTITUTE_OF_FINE_ART;User ID=sa;Password=1234567"/>
  </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
      <pages>
        <controls>
          
          <add tagPrefix="CKEditor" assembly="CKEditor.NET" namespace="CKEditor.NET"/>
        </controls>
      </pages>
    </system.web>
</configuration>
